div.motion-group {
    float: right;
}

h4.moveTo {
    font-weight: bold;
    float: left;
}

div.motions {
    padding-top: 10px;
}

.choices-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.choice {
    width: 48%;
}