<!DOCTYPE html>
<html>
<head>
	{{template "section-head.html" .}}
</head>
<body>

	<!-- Fixed navbar -->
	{{template "section-nav.html" .}}

	<!-- Begin page content -->
	<div class="container">
		<div class="jumbotron">
			<h1>SAVvie</h1>
			<p>
				SAVvie is intented to be a platform for formal argumentation loosely based on <a href="https://en.wikipedia.org/wiki/Robert%27s_Rules_of_Order" target="_blank">Robert's Rules of Order</a>. 
			</p>
		</div>





	</div>

	{{template "section-footer.html" .}}
</body>
</html>
