<html>

<head>
    {{template "section-head.html" .}}
</head>

<body>
    {{template "section-nav.html" .}}

    <div class="container">
        <h1>All decisions</h1>
        <div class="btn-group btn-group-vertical">
            {{range .Key.decisions}}
            <a href="/decisions/{{.ID}}" class="btn btn-default" style="white-space: normal">
				{{.Description}}
            </a> {{else}}
            <p>No decisions have been created.</p>
            {{end}}
        </div>
    </div>

    {{template "section-footer.html" .}}
</body>

</html>