<html>
	<head>
		{{template "section-head.html" .}}
	</head>
	<body>
		{{template "section-nav.html"}}

		<div class="container">
			<h1>Argument No. {{.ID}}</h1>
			<div class="well">
				<p class="h3">
					{{.Description}}
				</p>
				<ul>
					<li>Score: {{.Score}}</li>
					<li>Upvotes: {{.Upvotes}}</li>
					<li>Downvotes: {{.Downvotes}}</li>
				</ul>
			</div>
			<div class="btn-group">
				<a href="/upvote/{{.ID}}" class="btn btn-success">Upvote this argument</a>
				<a href="/downvote/{{.ID}}" class="btn btn-danger">Downvote this argument</a>
			</div>
		</div>

		{{template "section-footer.html"}}
	</body>
</html>