<html>
<head>
	{{template "section-head.html" .}}
</head>
<body>
	{{template "section-nav.html" .}}

	<div class="container">
		<h1>{{.PageTitle}}</h1>
	
		{{with .Key.errorMessage}}
		<p class="alert alert-warning">Sorry, something's gone wrong. Error message: {{.}}</p>
		{{else}}
		<p>Sorry, something's gone wrong. Either that page is missing, or a server error occurred.</p>
		{{end}}

		<p>Feel free to try again, or contact us for assistance.</p>
	</div>
	
	{{template "section-footer.html" .}}
</body>
</html>