<!DOCTYPE html>
<html>

<head>
    {{template "section-head.html" .}}
</head>

<body>

    <!-- Fixed navbar -->
    {{template "section-nav.html" .}}

    <!-- Begin page content -->
    <div class="container">
        <div class="well">
            <h1>SAVvie</h1>
            <p>
                SAVvie is intented to be a platform for formal decision-making loosely based on the Delphi Method.
			</p>
			<p>
				SAVvie is structured as Decisions that need to be made and the Choices available for each Decision. Clicking on the link below will allow you to view all the Decisions on the site right now. Choosing a Decision will allow you to view the Choices that are offered under that Decision. You can view the Pros, Cons, and Comments that have been added to each Choice by following a Choice's link. 
				<br />

				Enjoy!
            </p>
        </div>

        <ul>
            <li><a href="/decisions/">View all of your decisions on the site</a></li>
            <li><!--<a href="/create">Create a new decision</a></li> --> Create New Decision (Coming Soon!) </li>
        </ul>
        <ul>
            <li><a href="/login">Log in</a></li>
            <li><a href="/logout" class="text-danger">Log out</a></li>
            <li><a href="/signup">Sign up</a></li>
        </ul>

    </div>

    {{template "section-footer.html" .}}
</body>

</html>