<!DOCTYPE html>
<html>
	<head>
		{{template "section-head.html" .}}
	</head>
	<body>
		{{template "section-nav.html" .}}

		<div class="container">
			<h1>Sign up for an account</h1>
			<p>This lets you:</p>
			<ul>
				<li>Create new arguments</li>
				<li>Vote on arguments</li>
			</ul>
			{{range .Key.problems}}
			<div class="alert alert-danger">
				{{.}}
			</div>
			{{end}}
			<form method="post" action="/signup/">
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="fname">First name:</label>
						<input type="text" id="fname" class="form-control" name="fname" value="{{.Key.fname}}">
					</div>
					<div class="form-group col-sm-6">
						<label for="lname">Last name:</label>
						<input type="text" id="lname" class="form-control" name="lname" value="{{.Key.lname}}">
					</div>
				</div>
				<div class="form-group">
					<label for="email">Email Address:</label>
					<input type="text" id="email" class="form-control" name="email" value="{{.Key.email}}">
				</div>
				<div class="form-group">
					<label for="pwd">Password:</label>
					<input type="password" id="pwd" class="form-control" name="pwd" >
				</div>
				<div class="form-group">
					<label for="confpwd">Confirm Password:</label>
					<input type="password" id="confpwd" class="form-control" name="confpwd" >
				</div>
				<input type="submit" class="btn btn-success" value="Submit">
				<a href="/login" class="btn btn-default">Log in with a current account</a>
			</form>
		</div>

		{{template "section-footer.html" .}}
	</body>
</html>